//-logo
mixin logo(className, siteName, link)
    div(class=className+"_logo_w")
        a(alt=siteName class=className+"_logo" href='#')=link
//- Use: +logo('className', 'siteName','link')


//-logo_img
mixin logo_i(alt , fileName)
    div(class=className+"_logo_w")
        a(class=className+"_logo" href='#')
            img(alt=siteName  src="img/"+fileName)
//- Use: +logo_i('className','siteName','fileName')

//-menu
mixin menu(className, active_link, ...links)
    nav(class=className)
        ul(class=className + "_list")
            li(class=className + "_item")
                a(href="#", class=className + "_link" class=className + "_link_a")=active_link
            each link in links
                li(class=className + "_item")
                    a(href="#", class=className + "_link")=link
//- Use: +menu('className', 'active_link','link2' , 'link3' , 'link4' , 'link5',...)

//-img+wrap
mixin img_w(alt, className, fileName)
    div(class=className +"_i_w")
        img(alt=alt class=className + "_i" src="img/"+fileName)
//- Use: +img_w('alt','className','fileName')